body {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  background-color: #f1ebeb;
}


h3 {
  display: block;
  color: white;
  padding: 8px;
  background-color: #333;
  border: 5px solid #222;
  border-radius: 5px;
}


h1 {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
}


p {
  color: #89CFF0;
  font-family: 'Comic Sans MS', cursive, sans-serif;

}
